<div class="behance-follower">
    <ul>
        <li>
            <button id="bf-start-btn" onclick="follower.Start()" class="form-button form-button-green">Старт</button>
        </li>
        <li>
            <button id="bf-stop-btn" onclick="follower.Stop()" disabled class="form-button form-button-red">Стоп</button>
        </li>
        <li>
            <span>Найдено: <b id="bf-finded">0</b></span>
        </li>
        <li>
            <span>Отписано: <b id="bf-unsubscribed">0</b></span>
        </li>
        <li>
            <span>Статус: <b id="bf-status">Ожидание</b></span>
        </li>
    </ul>
</div>